
<section class="footer p-5 mt-5 color-nav">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <a class="navbar-brand textt-success ms-4 fw-bold" href="/">cine<span class="text-warning">App</span></a>
                <div class="container">
                    <hr>
                    <span class="btn btn-primary rounded-circle"><i class="fa-brands text-white fs-6 fa-facebook"></i></span>
                    <span class="btn btn-primary rounded-circle"><i class="fa-brands text-white fs-6 6a-whatsapp"></i></span>
                    <span class="btn btn-primary rounded-circle"><i class="fa-brands text-white fs-6 fa-youtube"></i></span>
                    <span class="btn btn-primary rounded-circle"><i class="fa-brands text-white fs-5 fa-telegram"></i></span>
                </div>
            </div>
            <div class="col-lg-4"></div>
            <div class="col-lg-4"></div>
        </div>
        <div class="col-lg-12">
            <p class="text-center">&copy copyright tous droits réservés 2024</p>
        </div>
    </div>
</section>
<script src="/js/bootstrap.js"></script>
</body>
</html>