<%- include('./global/navBar.ejs') %>

<section class="connexion">
    <div class="container">
        <div class="col-lg-8 d-flex justify-content-center align-items-center my-5 ">
            <div class="card shadow border-0 p-2">
                <div class="col-lg-6 ms-3 p-2">
                    <h4 class="fw-bold">Connectez-vous !</h4>
                </div>
                <div class="card-body">
                    <form id="submitForm" class="row">
                        <div class="col-lg-12">
                            <div class="mb-3">
                                <label for="email" class="form-label">Address email</label>
                                <input type="email" class="form-control" id="email" required placeholder="nomexample.com">
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="mb-3">
                                <label for="password" class="form-label">Mot de passe</label>
                                <input type="password" class="form-control" id="password" required placeholder="mot de passe">
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="mb-3">
                                <p class="btn btn-warning fw-bold text-center w-100 rounded-2" id="message" style="display: none;"></p>
                            </div>
                        </div>
                        
                        <div class="col-lg-12">
                            <button type="submit" id="submitBtn" class="btn btn-danger text-center w-100 fw-bold rounded">Se connecter</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<%- include('./global/footer.ejs') %>

<script>
    let submitForm = document.getElementById("submitForm")

    submitForm.addEventListener('submit', async(e) =>{

        e.preventDefault()
        let submitBtn = document.getElementById("submitBtn")
        let email = document.getElementById("email").value
        let password = document.getElementById("password").value
        let message = document.getElementById("message")

        message.innerHTML = ""
        submitBtn.innerHTML = `<i class="fa fa-spinner fa-spin"></i> Traitement en cours`


        let requette = await fetch("/loginForm",{
            headers:{"Content-type":"application/json"},
            method:"post",
            body:JSON.stringify({email,password})
        })

        let reponse = await requette.json()

        if(Response.message === "ok"){
            const uid = localStorage.setItem("uid",user.uid)
            const nom = localStorage.setItem("uid",user.nom)

            setTimeout(()=>{
                
                submitBtn.innerHTML = "Se connecter"
                document.location.href = "/reserver"
            },100)
        }else{
            message.style.display ="block"
            message.innerHTML = reponse.message
            submitBtn.innerHTML = "Se connecter"
        }
    })

</script>